<nav class="navbar shadow-sm .bg-white">
    <div class="container-fluid" style="text-align: center;">
        {{!-- 判斷有無登入 --}}
        {{!-- 有登入->顯示side bar --}}
        {{#if isAuthenticated}}
        {{!--side bar開啟按鈕--}}
        <button class="w3-button w3-white w3-xxlarge" onclick="w3_open()">&#9776;</button>
        {{/if}}
        {{!-- 沒登入->不顯示side bar --}}

        {{!-- 有登入->logo置中 --}}
        {{#if isAuthenticated}}
            <div class="navbar-brand" style="margin:0px auto; padding:0 5% 0 0">
                <a class="navbar-brand header-title" href="/"><b style="font-size: 60px;">台灣綠牆維保平台</b> </a>
            </div>
        {{else}}
        {{!-- 沒登入->LOGO置中 --}}
            <div class="navbar-brand" style="margin:0px auto;">
                <a class="navbar-brand header-title" href="/"><b style="font-size: 60px;">台灣綠牆維保平台</b> </a>
            </div>
        {{/if}}
        
        
    </div>
</nav>