<style>
    .usernameFont{
        font-size: 30px; 
        font-weight: 800; 
        font-family:'微軟正黑體';
        color: rgb(109, 109, 109);
        margin: 10px 0 30px 0;
    }
    .my-sidebar{
        height: 100%;
        width: 40%;
        background-color: rgb(231, 231, 231);
        position: fixed!important;
        z-index: 1;
        overflow: auto;
    }
    .sidebar-option{
        font-size: 40px;
        font-weight: 600; 
        font-family:'微軟正黑體';
        margin-bottom: 10px;
    }
</style>
{{!--side bar 內容--}}
<div class="my-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5" id="mySidebar">
  <font class="usernameFont w3-bar-item">您好！{{name}}</font>
  <a href="#" class="w3-bar-item w3-button sidebar-option">工程管理</a>
  <a href="#" class="w3-bar-item w3-button sidebar-option">員工管理</a>
  <a href="#" class="w3-bar-item w3-button sidebar-option">線上維護保養</a>
  <a href="#" class="w3-bar-item w3-button sidebar-option">維護保養紀錄</a>
  <a class="w3-bar-item w3-button sidebar-option" href="/users/logout">登出</a>
</div>


<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>


<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>
